
.delete-comment{
  background-color: rgb(121, 40, 40);
  color: white;
  border: none;
  width: 20vw;
  font-size: 2rem;
  padding: .3rem .6rem;
  letter-spacing: 1px;
}
.delete-comment:hover{
  opacity: .8;
  cursor: pointer;
}
@media only screen and (min-device-width: 600px){
  .delete-comment{
    font-size: 1rem;
    width: 10vw;
    height: 3vh;
  }
}