* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hide {
  display: none;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 2rem;
}
nav {
  width: 100vw;
  height: 105px;
  padding: 0 1rem;
  background:none;
  position: fixed;
  background-color:rgb(36, 36, 36);
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav img {
  font-size: 3rem;
  width: 100px;
  margin-right: 1rem;
}
.logo {
  color: white;
  font-size: 4rem;
  letter-spacing: 1px;
}
.register:hover {
  opacity: .8;
  cursor: pointer;
}
.squeak {
  border: 1px solid #FF914D;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: .8rem 2rem;
  border-radius: 50px;
  transition: 200ms;
  letter-spacing: 1px;
}
.squeak:hover {
  background-color: #FF914D;
  box-shadow: 2px 2px 2px black;
  color: black;
}
.login{
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: .8rem 2rem;
  border: 1px solid #FF914D;
  border-radius: 50px;
  transition: 200ms;
  letter-spacing: 1px;
}
.login:hover {
  background-color: #FF914D;
  box-shadow: 2px 2px 2px black;
  color: black;
}
nav .button {
  align-items: center;
}

@media only screen and (min-device-width: 600px){
  nav{
    height: 60px;
    margin-bottom: 5rem;
    padding: 0 1rem;
  }
  nav img {
    width: 60px;
  }
  a{
    font-size: 1rem;
    margin:0 .5rem;
  }
  .logo{
    font-size: 2rem;
  }
  .login{
    padding: .3rem 1.5rem;
    font-size: 1.3rem;
  }
  .squeak{
    padding: .3rem 1.5rem;
    font-size: 1.3rem;
  }

}