.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 15rem auto 2rem;
  padding: 2rem;
  width: 90vw;
  height: 86vh;
}
.register-form h1{
  color: white;
  text-align: center;
}
.register-form h2{
  color: red;
}
.register-form input{
  font-size: 3rem;
  width: 60vw;
  height: 100px;
  padding: .5rem;
  border-radius: 10px;
  border: none;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}
.buttons button {
  background:none;
  color: white;
  border: 1px solid #FF914D;
  border-radius: 50px;
  font-size: 2.5rem;
  margin: 2rem 1rem;
  padding: .5rem 3rem;
  height: 100px;
  width: 300px;
  transition: 200ms;
  letter-spacing: 2px;
}
.buttons button:hover{
  background-color: #FF914D;
  color: black;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}
@media only screen and (min-device-width: 600px){
  .register-form {
    font-size: 1rem;
    width: 500px;
    margin: 5rem auto;
  }
  .register-form h1{
    font-size: 2rem;
  }
  .register-form input{
    font-size: 1.3rem;
    height: 50px;
    width: 400px;
  }
  .buttons {
    width: 400px;
  }
  .buttons button{
    font-size: 1.3rem;
    height: 50px;
    width: 250px;
  }
}