.flex-articles{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.article-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85vw;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  transition: .2s linear;
}
.article-div:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.article-div .head{
  display: flex;
  flex-direction: column;
}
.head .author i{
  color: #FF914D;
  
}
.head .author{
  margin-bottom: 2rem;
  font-size: 4rem;
}
.head .title{
  color: black;
  text-align: left;
  font-weight: 500;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info .comments {
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 40vw;
}
.info .comments i{
  margin-right: .5rem;

}
.info .date {
  color: black;
  display: flex;
  flex-direction: row;
}
@media only screen and (min-device-width: 600px){
  .flex-articles{
    margin-top: 5rem;
  }
  .article-div{
    max-width: 800px;
  }
  .head .author{
    font-size: 2rem;
  }
  .info .comments{
    width: 150px;
  }
}
